
@{
    ViewData["Title"] = "DisplayFavorites";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        font-size: x-large;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: large;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    button {
        
    }


</style>


<h1>Your Favorite Movies!</h1>
@model List<Favorite>

<table>
    <tr>

        <th>Title</th>
        <th>Release Date</th>
        <th>Poster Path</th>
        <th>Delete</th>
    </tr>

    @foreach (Favorite f in Model)
    {
<tr>
    @*remove duplicates*@
    <td>@f.Title</td>
    <td>@f.ReleaseDate</td>

     <td><center><img src="https://image.tmdb.org/t/p/w500/@f.PosterPath" style="width:33%;height:33%" alt="The nargle's must have gotten to the movie poster..." /></center></td>

    <td><a href="../Home/DeleteFavorite?id=@f.Id">Delete Favorite</a></td>
</tr>

    }
    

</table>
