
@{
    ViewData["Title"] = "DisplayFavorites";
}

<h1>DisplayFavorites</h1>
@model List<Favorite>

<table>
    <tr>

        <th>Title</th>
        <th>Release Date</th>
        <th>Poster Path</th>
    </tr>

    @foreach (Favorite f in Model)
    {
        <tr>
            @*remove duplicates*@
            <td>@f.Title</td>
            <td>@f.ReleaseDate</td>
            <td>@f.PosterPath</td>
        </tr>
    }

</table>
