@{
    ViewData["Title"] = "Home Page";
}

<h1><center>Welcome to the Poor Man's IMDB!</center></h1>
<p> This site has everything you need, if everything you need is a site where you can search for movies, add them to your favorite's list, and maybe watch a trailer!</p>
<br />
<br />

<center><h2><a href="../Home/SearchPage">Search for a movie!</h2></center></a>
<center><h2><a href="../Home/DisplayFavorites">See your favorites!</h2></center></a>
