
@{
    ViewData["Title"] = "MovieDetailsAsync";
}

<h1>Oooo a trailer for your favorite movie? Where's the popcorn?</h1>

@model Videoobject


<iframe id="ytplayer" type="text/html" width="1280" height="720" src="https://www.youtube.com/embed/@Model.results[0].key?autoplay=1"></iframe>

