
@{
    ViewData["Title"] = "MovieDetailsAsync";
}

<h1>MovieDetailsAsync</h1>

@model Video

<table>
    <tr>
        <th>Title</th>
        @*<th>Over View</th>*@
        <th>Poster</th>
        <th>Release Date</th>
        <th>Watch Video</th>
        <th>Favorites</th>
    </tr>
    <tr>

        <td>@Model.name</td>
        @*<td>@Model.overview</td>*@
        @*<td><img src="https://image.tmdb.org/t/p/w500/@Model.poster_path" style="width:50%;height:50%" alt="img" /></td>*@
        <td class="btn"><a href="https://www.youtube.com/watch?v=@Model.key">Watch On Youtube</a>
        @*<td class="btn"><a href="../Home/AddToFavorites?id=@r.id">Add!</a>*@
    </tr>


</table>

