
@{
    ViewData["Title"] = "SearchPageAsync";
}

<h1>SearchPageAsync</h1>

@model Rootobject

<form action="../Home/SearchResults" method="post">

    <input type="text" name="name" placeholder="Put Movie Here..." />
    <input type="submit" />
</form>
