
@{
    ViewData["Title"] = "Results";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>Results</h1>

@model List<Result>

<table>
    <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Movie Poster</th>
        <th>Details</th>
        <th>Favorites</th>
    </tr>

    @foreach (Result r in Model)
    {
<tr>

    <td>@r.title</td>
    <td>@r.release_date</td>
    <td><center><img src="https://image.tmdb.org/t/p/w500/@r.poster_path" style="width:33%;height:33%" alt="The nargle's must have gotten to the movie poster..." /></center></td>
    <td><a href="../Home/MovieDetails?id=@r.id">Watch a Trailer</a>
    <td><a href="../Home/AddToFavorites?id=@r.id">Add to favorites</a>
</tr>
    }

</table>