
@{
    ViewData["Title"] = "SearchResults";
}

<h1>SearchResults</h1>

@model List<Result>

<table>
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Release Date</th>
        <th>Poster Path</th>
        <th>Favorites</th>
    </tr>

    @foreach (Result r in Model)
    {
<tr>
    <td>@r.id</td>
    <td>@r.title</td">
    <td>@r.release_date</td">
    <td>@r.poster_path</td">
    <td class="btn">
     <a href="../Home/AddToFavorites?id=@r.id">Add Movie to Favorites!</a>
</tr>
    }

</table>