
@{
    ViewData["Title"] = "Search";
}

<h1>Search for a Movie</h1>

@model Rootobject

<form action="../Home/SearchResults" method="post">

    <input type="text" name="name" placeholder="Search Movies..." />
    <input type="submit" />
</form>
